body {
  background-color: #cc99ff;
}
.header, .footer {
  height: 100px;
  background-color: green;
}

.header h1  {
  font-size: 10px
}

.footer h1 {
  color: #fff;
  font-size: 30px;

}
.footer {
  background-color: red;
}

h1 {
  color: red;
  text-align: center;
}

.square {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: auto;
}

#circle {
  color: darkred;
  font-size: 40px;
}